<footer>
<ul>
	<li class="credit">&copy; {{ site.time | date: '%Y' }} {{ site.title }}</li>
	<li class="twitter"><a href="http://twitter.com/regmtait" title="Some tweets. All killer, no filler.">Twitter</a></li>
	<li class="instagram"><a href="http://instagram.com/regmtait" title="Instagram. Some drawings, and pictures of books.">Instagram</a></li>
	<li class="flickr"><a href="http://flickr.com/regmtait" title="Stuff on Flickr. Mainly drawings."><span class="blue">Flick</span><span class="pink">r</span></a></li>
</ul>
</footer>
