<head>

<title>{% if page.meta-title %}{{ page.meta-title }}{% else %}{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}{% endif %}</title>

<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}{% endif %}">
{% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{% endif %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<meta name="robots" content="index, follow">
<meta name="author" content="@regmtait">
<!--
Hey there, thanks for looking! You can view the site 
source at https://github.com/regmtait/regmtait.co.uk
-->
<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
<link rel="stylesheet" href="{{ "/css/regmtait-main.css" | prepend: site.baseurl }}">
<link rel="alternate" type="application/rss+xml" title="Reg Tait's blog" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
<link href="/theme/favicon.ico" rel="shortcut icon">
<link href="/theme/apple-touch-icon.png" rel="apple-touch-icon">

<script src='/js/mini.js'></script>
